<h1>Enter your new Recipe</h1>
<%= simple_form_for @recipe do |f| %>
<%= f.input :name %>
<%= f.input :calories %>
<%= f.input :people_fed, label: 'How many people will this feed?' %>
<%= f.input :cook_time, label: 'Time to Cook' %>
<%= f.input :course, collection: ['Breakfast', 'Lunch', 'Dinner', 'Dessert'] %>
<%= f.submit 'Add Ingredients' %>
<% end %>
