<h1>Enter your new Recipe</h1>
<%= simple_form_for @recipe do |f| %>
<%= f.input :name %>
<%= f.input :calories, input_html: {min:'1'} %>
<%= f.input :people_fed, input_html: {min:'1'}, label: 'How many people will this feed?' %>
<%= f.input :cook_time, input_html: {min:'1'}, label: 'Time to Cook(in minutes)' %>
<%= f.input :course, collection: ['Breakfast', 'Lunch', 'Dinner', 'Dessert'] %>
<%= f.submit 'Select Ingredients Required' %>
<% end %>
